<h3>{{title}}</h3>

<div class="form-group">
    <label for="ek">Insättning Eget Kapital (SEK):</label>
    <br />
    <input type="number" class="form-control input-box" placeholder="Eget Kapital" id="ek" [(ngModel)]="capital" />
    <br />
    <br />

    <label for="growthPercentage">Tillväxt (%):</label>
    <br />
    <input type="number" class="form-control input-box" placeholder="Tillväxt" id="growthPercentage" [(ngModel)]="growthPercentage" />
    <br />
    <br />

    <label for="moneySaved">Insättning per månad (SEK):</label>
    <br />
    <input type="number" class="form-control input-box" placeholder="Insättning per månad" id="moneySaved" [(ngModel)]="moneySaved" />
    <br />
    <br />

    <label for="dividends">Utdelning per år (%):</label>
    <br />
    <input type="number" class="form-control input-box" placeholder="Utdelning per år" id="dividends" [(ngModel)]="dividends" />
</div>

<hr>
<p>Ursprungsinvestering på <span style="color: deepskyblue">{{ capital | number:'1.0-2' }}</span> SEK<span *ngIf="growthPercentage"> med en tillväxt på <span style="color: deepskyblue">{{ growthPercentage }}</span> % per år och <span style="color: deepskyblue">{{ (compoundedReturnPerMonthPercentage(growthPercentage) - 1) * 100 | number:'1.2-2' }}</span> % per månad.</span>.</p>
<p *ngIf="moneySaved">Ytterligare insättningar på <span style="color: deepskyblue">{{ moneySaved | number:'1.0-2' }}</span> SEK görs varje månad.</p>
<p *ngIf="dividends">Utdelningen på <span style="color: deepskyblue">{{ dividends | number:'1.0-0' }}</span> % per år spenderas/investeras på annat håll.</p>
<br />
<div *ngIf="false">
    <button *ngIf="!reInvest" class="btn btn-default" (click)="reInvestDividends(true)">Återinvestera utdelning</button>
    <button *ngIf="reInvest" class="btn btn-info">Återinvestera utdelning</button>
    <button *ngIf="reInvest" class="btn btn-default" (click)="reInvestDividends(false)">Behåll utdelning</button>
    <button *ngIf="!reInvest" class="btn btn-info">Behåll utdelning</button>
</div>
<hr>

<span *ngIf="false">{{ calculateGrowth(capital, moneySaved, growthPercentage, 1, dividends) }}</span>

<h4>Årlig tillväxt</h4>

<table class="table">
    <thead>
        <th>År</th>
        <th>Eget Kapital</th>
        <th>Total Tillväxt (%)</th>
        <th>Tillväxt (SEK)</th>    
        <th>Tillväxt (%)</th>
        <th>Utdelning (År)</th>
        <th>Utdelning (Månad)</th>
    </thead>
    <!--År 1-->
    <tr>
        <td>1</td>
        <td>{{ compoundedReturnPerYear(capital, growthPercentage, moneySaved) | number:'1.0-0' }} SEK</td>
        <td>{{ (compoundedCapitalOne / capital - 1) * 100 | number:'1.0-0' }} %</td>
        <td>{{ (compoundedCapitalOne - capital) | number:'1.0-0' }}</td>
        <td>{{ (compoundedCapitalOne / capital - 1) * 100 | number:'1.0-0' }} %</td>
        <td>{{ calculateDividends(compoundedCapitalOne, moneySaved, growthPercentage, 1, dividends) | number:'1.0-0' }} SEK</td>
        <td>{{ calculateDividendsMonth(compoundedCapitalOne, moneySaved, growthPercentage, 1, dividends) | number:'1.0-0' }} SEK</td>
    </tr>
    <!--År 2-->
    <tr>
        <td>2</td>
        <td>{{ compoundedCapitalTwo | number:'1.0-0' }} SEK</td>
        <td>{{ (compoundedCapitalTwo / capital - 1) * 100 | number:'1.0-0' }} %</td>
        <td>{{ (compoundedCapitalTwo - compoundedCapitalOne) | number:'1.0-0' }}</td>
        <td>{{ (compoundedCapitalTwo / compoundedCapitalOne - 1) * 100 | number:'1.0-0' }} %</td>
        <td>{{ calculateDividends(compoundedCapitalTwo, moneySaved, growthPercentage, 2, dividends) | number:'1.0-0' }} SEK</td>
        <td>{{ calculateDividendsMonth(compoundedCapitalTwo, moneySaved, growthPercentage, 2, dividends) | number:'1.0-0' }} SEK</td>
    </tr>
    <!--År 3-->
    <tr>
        <td>3</td>
        <td>{{ compoundedCapitalThree | number:'1.0-0' }} SEK</td>
        <td>{{ (compoundedCapitalThree / capital - 1) * 100 | number:'1.0-0' }} %</td>
        <td>{{ (compoundedCapitalThree - compoundedCapitalTwo) | number:'1.0-0' }}</td>
        <td>{{ (compoundedCapitalThree / compoundedCapitalTwo - 1) * 100 | number:'1.0-0' }} %</td>
        <td>{{ calculateDividends(compoundedCapitalThree, moneySaved, growthPercentage, 3, dividends) | number:'1.0-0' }} SEK</td>
        <td>{{ calculateDividendsMonth(compoundedCapitalThree, moneySaved, growthPercentage, 3, dividends) | number:'1.0-0' }} SEK</td>
    </tr>
    <!--År 4-->
    <tr>
        <td>4</td>
        <td>{{ compoundedCapitalFour | number:'1.0-0' }} SEK</td>
        <td>{{ (compoundedCapitalFour / capital - 1) * 100 | number:'1.0-0' }} %</td>
        <td>{{ (compoundedCapitalFour - compoundedCapitalThree) | number:'1.0-0' }}</td>
        <td>{{ (compoundedCapitalFour / compoundedCapitalThree - 1) * 100 | number:'1.0-0' }} %</td>
        <td>{{ calculateDividends(compoundedCapitalFour, moneySaved, growthPercentage, 4, dividends) | number:'1.0-0' }} SEK</td>
        <td>{{ calculateDividendsMonth(compoundedCapitalFour, moneySaved, growthPercentage, 4, dividends) | number:'1.0-0' }} SEK</td>
    </tr>
    <!--År 5-->
    <tr>
        <td>5</td>
        <td>{{ compoundedCapitalFive | number:'1.0-0' }} SEK</td>
        <td>{{ (compoundedCapitalFive / capital - 1) * 100 | number:'1.0-0' }} %</td>
        <td>{{ (compoundedCapitalFive - compoundedCapitalFour) | number:'1.0-0' }}</td>
        <td>{{ (compoundedCapitalFive / compoundedCapitalFour - 1) * 100 | number:'1.0-0' }} %</td>
        <td>{{ calculateDividends(compoundedCapitalFive, moneySaved, growthPercentage, 5, dividends) | number:'1.0-0' }} SEK</td>
        <td>{{ calculateDividendsMonth(compoundedCapitalFive, moneySaved, growthPercentage, 5, dividends) | number:'1.0-0' }} SEK</td>
    </tr>
    <!--År 6-->
    <tr>
        <td>6</td>
        <td>{{ compoundedCapitalSix | number:'1.0-0' }} SEK</td>
        <td>{{ (compoundedCapitalSix / capital - 1) * 100 | number:'1.0-0' }} %</td>
        <td>{{ (compoundedCapitalSix - compoundedCapitalFive) | number:'1.0-0' }}</td>
        <td>{{ (compoundedCapitalSix / compoundedCapitalFive - 1) * 100 | number:'1.0-0' }} %</td>
        <td>{{ calculateDividends(compoundedCapitalSix, moneySaved, growthPercentage, 6, dividends) | number:'1.0-0' }} SEK</td>
        <td>{{ calculateDividendsMonth(compoundedCapitalSix, moneySaved, growthPercentage, 6, dividends) | number:'1.0-0' }} SEK</td>
    </tr>
    <!--År 7-->
    <tr>
        <td>8</td>
        <td>{{ compoundedCapitalSeven | number:'1.0-0' }} SEK</td>
        <td>{{ (compoundedCapitalSeven / capital - 1) * 100 | number:'1.0-0' }} %</td>
        <td>{{ (compoundedCapitalSeven - compoundedCapitalSix) | number:'1.0-0' }}</td>
        <td>{{ (compoundedCapitalSeven / compoundedCapitalSix - 1) * 100 | number:'1.0-0' }} %</td> 
        <td>{{ calculateDividends(compoundedCapitalSeven, moneySaved, growthPercentage, 7, dividends) | number:'1.0-0' }} SEK</td>
        <td>{{ calculateDividendsMonth(compoundedCapitalSeven, moneySaved, growthPercentage, 7, dividends) | number:'1.0-0' }} SEK</td>
    </tr>
    <!--År 8-->
    <tr>
        <td>8</td>
        <td>{{ compoundedCapitalEight | number:'1.0-0' }} SEK</td>
        <td>{{ (compoundedCapitalEight / capital - 1) * 100 | number:'1.0-0' }} %</td>
        <td>{{ (compoundedCapitalEight - compoundedCapitalSeven) | number:'1.0-0' }}</td>
        <td>{{ (compoundedCapitalEight / compoundedCapitalSeven - 1) * 100 | number:'1.0-0' }} %</td> 
        <td>{{ calculateDividends(compoundedCapitalEight, moneySaved, growthPercentage, 8, dividends) | number:'1.0-0' }} SEK</td>
        <td>{{ calculateDividendsMonth(compoundedCapitalEight, moneySaved, growthPercentage, 8, dividends) | number:'1.0-0' }} SEK</td>
    </tr>
    <!--År 9-->
    <tr>
        <td>9</td>
        <td>{{ compoundedCapitalNine | number:'1.0-0' }} SEK</td>
        <td>{{ (compoundedCapitalNine / capital - 1) * 100 | number:'1.0-0' }} %</td>
        <td>{{ (compoundedCapitalNine - compoundedCapitalEight) | number:'1.0-0' }}</td>
        <td>{{ (compoundedCapitalNine / compoundedCapitalEight - 1) * 100 | number:'1.0-0' }} %</td>
        <td>{{ calculateDividends(compoundedCapitalNine, moneySaved, growthPercentage, 9, dividends) | number:'1.0-0' }} SEK</td>
        <td>{{ calculateDividendsMonth(compoundedCapitalNine, moneySaved, growthPercentage, 9, dividends) | number:'1.0-0' }} SEK</td>
    </tr>
    <!--År 10-->
    <tr> 
        <td>10</td>
        <td>{{ compoundedCapitalTen | number:'1.0-0' }} SEK</td>
        <td>{{ (compoundedCapitalTen / capital - 1) * 100 | number:'1.0-0' }} %</td>
        <td>{{ (compoundedCapitalTen - compoundedCapitalNine) | number:'1.0-0' }}</td>
        <td>{{ (compoundedCapitalTen / compoundedCapitalNine - 1) * 100 | number:'1.0-0' }} %</td>
        <td>{{ calculateDividends(compoundedCapitalTen, moneySaved, growthPercentage, 10, dividends) | number:'1.0-0' }} SEK</td>
        <td>{{ calculateDividendsMonth(compoundedCapitalTen, moneySaved, growthPercentage, 10, dividends) | number:'1.0-0' }} SEK</td>
    </tr>
</table>