<h3>{{title}}</h3>

<p>{{filter.Info.CompanyName}}</p>

<table class="tableStandard">
    <thead>
        <tr>
            <th>ISIN</th>
            <th><input type="text" [(ngModel)]="filter.Info.CompanyName" placeholder="Company name"></th>
            <th>Ticker</th>          
            <th>Country</th>          
            <th>List</th>          
            <th>Industry</th>       
            <th>Next Report</th>  
            <th>LatestPrice</th>
            <th>1d %</th>
            <th>1w %</th>
            <th>1m %</th>
            <th>3m %</th>
            <th>6m %</th>
            <th>1y %</th>
            <th>3y %</th>
            <th>5y %</th>                      
        </tr>
    </thead>
    <tbody>
        <tr *ngFor='let stock of stocks | stockfilter: filter; let i = index'>
            <td class="columnLarge">{{stock.Info.ISIN}}</td>
            <td class="columnLarge">{{stock.Info.CompanyName}}</td>
            <td class="columnLarge">{{stock.Info.Ticker}}</td>
            <td class="columnLarge">{{stock.Info.Country}}</td>
            <td class="columnLarge">{{stock.Info.List}}</td>
            <td class="columnLarge">{{stock.Info.Industry}}</td>
            <td class="columnLarge">{{stock.Info.ReportDate.Next}}</td>
            <td class="columnLarge">{{stock.Stock.LatestPrice | number : '1.2-2' }}</td>
            <td class="columnLarge">{{stock.Stock.Return.Act_1d | number : '1.2-2' }}</td>
            <td class="columnLarge">{{stock.Stock.Return.Act_1w | number : '1.2-2' }}</td>
            <td class="columnLarge">{{stock.Stock.Return.Act_1m | number : '1.2-2' }}</td>
            <td class="columnLarge">{{stock.Stock.Return.Act_3m | number : '1.2-2' }}</td>
            <td class="columnLarge">{{stock.Stock.Return.Act_6m | number : '1.2-2' }}</td>
            <td class="columnLarge">{{stock.Stock.Return.Act_1y | number : '1.2-2' }}</td>
            <td class="columnLarge">{{stock.Stock.Return.Act_3y | number : '1.2-2' }}</td>
            <td class="columnLarge">{{stock.Stock.Return.Act_5y | number : '1.2-2' }}</td>
        </tr>
    </tbody>
</table>