<h3>{{title}}</h3>

<table class="tableStandard">
    <thead>
        <tr>
            <th>ISIN</th>
            <th>Company Name</th>
            <th>Ticker</th>          
            <th>Country</th>          
            <th>List</th>          
            <th>Industry</th>       
            <th>Next Report</th>  
            <th>LatestPrice</th>
            <!--<th>1d%</th>
            <th>1w%</th>
            <th>1m%</th>
            <th>3m%</th>
            <th>6m%</th>
            <th>1y%</th>
            <th>3y%</th>
            <th>5y%</th>
            <th>MarketCap</th>
            <th>PE_Lat</th>
            <th>PE_1y</th>
            <th>PE_3y</th>
            <th>PS_Lat</th>
            <th>PS_1y</th>
            <th>PS_3y</th>
            <th>PFCF_Lat</th>
            <th>PFCF_1y</th>
            <th>PFCF_3y</th>
            <th>MA5_MA20</th>
            <th>MA20_MA70</th>
            <th>MA50_MA200</th>-->
            <th>Graham</th>                 
            <th>ROC</th>              
        </tr>
    </thead>
    <tbody>
        <tr *ngFor='let stock of stocks; let i = index'>
            <td class="columnLarge">{{stock.Info.ISIN}}</td>
            <td class="columnLarge">{{stock.Info.CompanyName}}</td>
            <td class="columnLarge">{{stock.Info.Ticker}}</td>
            <td class="columnLarge">{{stock.Info.Country}}</td>
            <td class="columnLarge">{{stock.Info.List}}</td>
            <td class="columnLarge">{{stock.Info.Industry}}</td>
            <td class="columnLarge">{{stock.Info.ReportDate.Next}}</td>
            <td class="columnLarge">{{stock.Stock.LatestPrice}}</td>
            <!--<td class="columnLarge">{{stock.Stock.Return.Act_1d}}</td>
            <td class="columnLarge">{{stock.Stock.Return.Act_1w}}</td>
            <td class="columnLarge">{{stock.Stock.Return.Act_1m}}</td>
            <td class="columnLarge">{{stock.Stock.Return.Act_3m}}</td>
            <td class="columnLarge">{{stock.Stock.Return.Act_6m}}</td>
            <td class="columnLarge">{{stock.Stock.Return.Act_1y}}</td>
            <td class="columnLarge">{{stock.Stock.Return.Act_3y}}</td>
            <td class="columnLarge">{{stock.Stock.Return.Act_5y}}</td>
            <td class="columnLarge">{{stock.Valuation.MarketCap}}</td>
            <td class="columnLarge">{{stock.Valuation.P_E.Latest}}</td>
            <td class="columnLarge">{{stock.Valuation.P_E.Avg_1y}}</td>
            <td class="columnLarge">{{stock.Valuation.P_E.Avg_3y}}</td>
            <td class="columnLarge">{{stock.Valuation.P_S.Latest}}</td>
            <td class="columnLarge">{{stock.Valuation.P_S.Avg_1y}}</td>
            <td class="columnLarge">{{stock.Valuation.P_S.Avg_3y}}</td>
            <td class="columnLarge">{{stock.Valuation.P_FCF.Latest}}</td>
            <td class="columnLarge">{{stock.Valuation.P_FCF.Avg_1y}}</td>
            <td class="columnLarge">{{stock.Valuation.P_FCF.Avg_3y}}</td>
            <td class="columnLarge">{{stock.TA.MA5_MA20}}</td>
            <td class="columnLarge">{{stock.TA.MA20_MA70}}</td>
            <td class="columnLarge">{{stock.TA.MA50_MA200}}</td>-->
            <td class="columnLarge">{{stock.Strat.Graham}}</td>
            <td class="columnLarge">{{stock.Profitability.ROC}}</td>
        </tr>
    </tbody>
</table>