<h3>{{title}}</h3>

<div>
    <table class="tableStandard">
        <thead>
            <tr>
                <th>Lista</th>
                <th>Namn</th>
                <th>Ticker</th>
                <th>Bransch</th>
                <th>Land</th>
                <th>Börsvärde</th>
                <th>Beskrivning</th>
                <th>Fact sheet</th>
                <th>Betyg (Tim)</th>
                <th>Betyg (Sebbe)</th>
                <th>Kommentar</th>
            </tr>
        </thead>
        
        <tbody>
            <tr *ngFor='let stock of stocks; let i = index'>
                <td class="columnMedium">{{stock.Lista}}</td>
                <td class="columnLarge">{{stock.Bolagsnamn}}</td>
                <td class="columnMedium">{{stock.Ticker}}</td>
                <td class="columnSmall">{{stock.Bransch}}</td>
                <td class="columnMedium">{{stock.Land}}</td>
                <td class="columnMedium"></td>
                <td class="columnSmall"></td>
                <td class="columnMedium"></td>
                <td class="columnMedium"></td>            
                <td class="columnSmall"></td>
                <td class="columnMedium"></td>
            </tr>
        </tbody>
    </table>
</div>

<!--<div *ngIf="false">
    <button (click)="loadData()">Load data</button>
    <p *ngIf="showErrorMessage" style="color:red">Wait for data to load! Approximately 3 seconds..</p>
    <div *ngIf="dataLoaded">
        <button (click)="loadLargeCap()">Load Large Cap</button>         
    </div> 
    
    <table class="tableStandard" *ngIf="displayTable">
        <thead>
            <th>Namn</th>
            <th>Symbol</th>
            <th>Valuta</th>
            <th>Sektor</th>
            <th>Fakta</th>
        </thead>
        <tr *ngFor="let row of rowArray">
            <td>
                <a target="_blank" href="{{row[0].a.href}}">{{row[0].a.content}}</a>
            </td>
            <td>{{row[1].content}}</td>
            <td>{{row[2].content}}</td>
            <td>{{row[4].content}}</td>
            <td>
                <a target="_blank" href="{{row[6].a.href}}">Fakta</a>
            </td>
        </tr>
    </table>    
</div>-->