<h3>{{title}}</h3>

<div>
    <table class="tableStandard">
        <thead>
            <tr>
                <th>Lista</th>
                <th>Namn</th>
                <th>Ticker</th>
                <th>Bransch</th>
                <th>Börsvärde</th>
                <th>ROE</th>
                <th>ROC</th>
                <th>Current ratio</th>
                <th>DebtPerShare</th>
                <th>EquityPerShare</th>
                <th>Dividend%</th>
                <th>Net margin</th>
                <th>P/E</th>
                <th>P/S</th>
                <th>P/FCF</th>
            </tr>
        </thead>
        
        <tbody>
            <tr *ngFor='let stock of stocks; let i = index'>
                <td class="columnLarge">{{stock.Info.List}}</td>
                <td class="columnLarge">{{stock.Info.CompanyName}}</td>
                <td class="columnMedium">{{stock.Info.Ticker}}</td>
                <td class="columnLarge">{{stock.Info.Industry}}</td>
                <td class="columnMedium">{{stock.Valuation.MarketCap | number: '1.1-1'}}</td>
                <td class="columnMedium">{{stock.Profitability.ROE}}</td>
                <td class="columnMedium">{{stock.Profitability.ROC}}</td>
                <td class="columnMedium">{{stock.Profitability.CurrentRatio}}</td>
                <td class="columnMedium">{{stock.BalanceSheet.DebtPerShare}}</td>
                <td class="columnMedium">{{stock.BalanceSheet.EquityPerShare}}</td>
                <td class="columnMedium">{{stock.Profitability.DividendRatio}}</td>
                <td class="columnMedium">{{stock.Profitability.NetMargin}}</td>
                <td class="columnMedium">{{stock.Valuation.P_E.Latest}}</td>
                <td class="columnMedium">{{stock.Valuation.P_S.Latest}}</td>
                <td class="columnMedium">{{stock.Valuation.P_FCF.Latest}}</td>
            </tr>
        </tbody>
    </table>
</div>