<div id="header">
    <div class="navbar paper-bg navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header paperMenuItem-bg">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="">ABS Finance</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="paperMenuItem-bg"><a routerLink="/first-north">First north</a></li>
                    <li class="paperMenuItem-bg"><a routerLink="/small-cap">Small cap</a></li>
                    <li class="paperMenuItem-bg"><a routerLink="/mid-cap">Mid cap</a></li>
                    <li class="paperMenuItem-bg"><a routerLink="/large-cap">Large cap</a></li>
                    <li class="paperMenuItem-bg"><a href=""></a></li>
                    <li class="paperMenuItem-bg"><a routerLink="/makro-indikatorer">Makroindikatorer</a></li>
                    <li class="paperMenuItem-bg"><a routerLink="/teknisk-analys">Teknisk analys</a></li>
                    <li class="paperMenuItem-bg"><a routerLink="/stock-wiki">Fundamental analys</a></li>                    
                    <li class="paperMenuItem-bg"><a href=""></a></li>
                    <li class="paperMenuItem-bg"><a routerLink="/to-do">To do</a></li>
                    <li class="paperMenuItem-bg"><a href="https://trello.com/b/77XWTnZs/asb-finance" target="_newtab">Trello</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>