<h3>{{title}}</h3>

<h4>Ethereum</h4>
<p>Ethereum kan ses som en råvara, då plattformen används för att byta, sätta upp och handla processorkraft. Den har haft en uppgång på 8000 % under senaste året. Handelsvaran för Ethereum kallas för Ether, den kan köpas via:</p>

<ol>
    <li></li>
</ol>
<a href="https://en.wikipedia.org/wiki/Ethereum" target="_blank">Ethereum Wikipedia</a>
<br />
<a href="https://99bitcoins.com/guide-buy-ether-ethereum/" target="_blank">Step by step</a>
<br />

<h4>BitCoin</h4>
<a href="https://en.wikipedia.org/wiki/Bitcoin" target="_blank">BitCoin Wikipedia</a>

<h4>Ripple</h4>
<a href="https://en.wikipedia.org/wiki/Ripple_(payment_protocol)"></a>
<a href="http://www.toptenreviews.com/money/investing/best-cryptocurrencies/ripple-review/">Ripple Review</a>