<h3>{{title}}</h3>

<div class="well">
    <h4>Handel med kryptovautor</h4>
    <p>För att handla med kryptovalutor behövs följande steg:</p>
    <ol>
        <li><a href="https://www.exodus.io/" target="_blank">Exodus</a> - En plånbok för kryptovalutor som kan laddas ned gratis</li>
        <li>En marknad som tillåter handel med kryptovalutor
            <ol>
                <li><a href="https://localbitcoins.com/" target="_blank">Local Bitcoins</a> -
                    <a href="https://localbitcoins.com/guides/how-to-buy-bitcoins" target="_blank">Steg för steg</a></li>
                <li><a href="https://www.kraken.com/" target="_blank">Kraken</a> -
                    <a href="https://www.flugwiki.se/hur-man-koper-bitcoins-via-kraken-steg-for-steg/" target="_blank">Steg för steg</a></li>
                <li><a href="https://bt.cx/en/" target="_blank">Bt.cx</a> -
                    <a href="https://bt.cx/sv/kopa-bitcoin/" target="_blank">Steg för steg</a></li>
                <li><a href="https://www.etoro.com/">eToro</a></li>
                <li><a href="https://www.coinbase.com/join">Coinbase</a> - <a href="https://99bitcoins.com/coinbase-review-6-controversial-issues/">Eventuella problem</a></li>
            </ol>
        </li>
    </ol>
</div>


<div class="well">
    <h4>Ethereum</h4>
    <p>Ethereum kan ses som en råvara, då plattformen används för att byta, sätta upp och handla processorkraft. Den har haft
        en uppgång på 8000 % under senaste året. Handelsvaran för Ethereum kallas för Ether.</p>
    
    <p>Länkar:</p>
    <ul>
        <li><a href="https://en.wikipedia.org/wiki/Ethereum">Ethereum på Wikipedia</a></li>
        <li><a href="https://99bitcoins.com/guide-buy-ether-ethereum/">Steg för steg</a></li>
    </ul>
</div>

<div class="well">
    <h4>BitCoin</h4>
    <p>BitCoin är en digital valuta som: </p>
    <ol>
        <li>Är decentraliserad</li>
        <li>Är lätt att använda</li>
        <li>Är anonym</li>
        <li>Är transparent</li>
        <li>Har låga avgifter</li>
        <li>Har supersnabba transaktioner</li>
        <li>Har bindande transaktioner (Non-Repudiable)</li>
    </ol>

    <p>Länkar:</p>
    <ul>
        <li><a href="https://en.wikipedia.org/wiki/Bitcoin" target="_blank">BitCoin på Wikipedia</a></li>
        <li><a href="https://www.udemy.com/bitcoin-for-beginners/learn/v4/overview">BitCoin-kurs</a></li>
    </ul>
</div>

<div class="well">
    <h4>Ripple</h4>
    <p>Ripple är en plattform för att byta mellan valutor på ett smidigt sätt.</p>
    
    <p>Länkar:</p>
    <ul>
        <li><a href="https://en.wikipedia.org/wiki/Ripple_(payment_protocol)">Ripple på Wikipedia</a></li>
        <li><a href="http://www.toptenreviews.com/money/investing/best-cryptocurrencies/ripple-review/">Recension av Ripple</a></li>
    </ul>

</div>