<h3>{{title}}</h3>
<table class="tableStandard">
    <thead>
        <tr>
            <th mdTooltip="Tooltip (Lista)" mdTooltipShowDelay="300">Lista</th>
            <th mdTooltip="Tooltip (Namn)" mdTooltipShowDelay="300">Namn</th>
            <th mdTooltip="Tooltip (Symbol)" mdTooltipShowDelay="300">Symbol</th>
            <th mdTooltip="Tooltip (Sektor)" mdTooltipShowDelay="300">Sektor</th>
            <th mdTooltip="Tooltip (Valuta)" mdTooltipShowDelay="300">Valuta</th>
            <th mdTooltip="Tooltip (Börsvärde)" mdTooltipShowDelay="300">Börsvärde</th>
            <th mdTooltip="Tooltip (Beskrivning)" mdTooltipShowDelay="300">Beskrivning</th>
            <th mdTooltip="Tooltip (Fact sheet)" mdTooltipShowDelay="300">Fact sheet</th>
            <th mdTooltip="Tooltip (Betyg, Tim)" mdTooltipShowDelay="300">Betyg (Tim)</th>
            <th mdTooltip="Tooltip (Betyg, Sebbe)" mdTooltipShowDelay="300">Betyg (Sebbe)</th>
            <th mdTooltip="Tooltip (Kommentar)" mdTooltipShowDelay="300">Kommentar</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor='let stock of stocks; let i = index'>
            <td class="columnMedium">{{stock.Lista}}</td>
            <td class="columnLarge">{{stock.Namn}}</td>
            <td class="columnMedium">{{stock.Symbol}}</td>
            <td class="columnLarge">{{stock.Sektor}}</td>
            <td class="columnSmall">{{stock.Valuta}}</td>
            <td class="columnLarge">{{stock.Borsvarde}}</td>
            <td class="columnBox">{{stock.Beskrivning}}</td>
            <td class="columnSmall"><img src="http://www.nasdaqomxnordic.com/static/img/pdf.gif"></td>
            <td class="columnMedium"><div class="score" style="width: 80px"></div></td>
            <td class="columnMedium"><div class="score" style="width: 57px"></div></td>
            <td class="columnComment">
                <inline-edit [text]="stock.Kommentar"></inline-edit>
            </td>
        </tr>
    </tbody>
</table>