<h3>{{title}}</h3>
<table class="tableStandard">
    <thead>
        <tr>
            <th mdTooltip="Tooltip (Lista)">Lista</th>
            <th mdTooltip="Tooltip (Namn)">Namn</th>
            <th mdTooltip="Tooltip (Symbol)">Symbol</th>
            <th mdTooltip="Tooltip (Sektor)">Sektor</th>
            <th mdTooltip="Tooltip (Valuta)">Valuta</th>
            <th mdTooltip="Tooltip (Börsvärde)">Börsvärde</th>
            <th mdTooltip="Tooltip (Beskrivning)">Beskrivning</th>
            <th mdTooltip="Tooltip (Fact sheet)">Fact sheet</th>
            <th mdTooltip="Tooltip (Betyg, Tim)">Betyg (Tim)</th>
            <th mdTooltip="Tooltip (Betyg, Sebbe)">Betyg (Sebbe)</th>
            <th mdTooltip="Tooltip (Kommentar)">Kommentar</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor='let stock of stocks; let i = index'>
            <td class="columnMedium">{{stock.Lista}}</td>
            <td class="columnLarge">{{stock.Namn}}</td>
            <td class="columnMedium">{{stock.Symbol}}</td>
            <td class="columnLarge">{{stock.Sektor}}</td>
            <td class="columnSmall">{{stock.Valuta}}</td>
            <td class="columnLarge">{{stock.Borsvarde}}</td>
            <td class="columnBox">{{stock.Beskrivning}}</td>
            <td class="columnSmall"><img src="http://www.nasdaqomxnordic.com/static/img/pdf.gif"></td>
            <td class="columnMedium"><div class="score" style="width: 80px"></div></td>
            <td class="columnMedium"><div class="score" style="width: 57px"></div></td>
            <td class="columnComment">
                <inline-edit [text]="stock.Kommentar"></inline-edit>
            </td>
        </tr>
    </tbody>
</table>