<h3>{{title}}</h3>

<div>
    <table class="tableStandard">
        <thead>
            <tr>
                <th>Lista</th>
                <th>Namn</th>
                <th>Ticker</th>
                <th>Bransch</th>
                <th>Börsvärde</th>
                <th>Beskrivning</th>
                <th>Fact sheet</th>
                <th>Betyg (Tim)</th>
                <th>Betyg (Seb)</th>
            </tr>
        </thead>
        
        <tbody>
            <tr *ngFor='let stock of stocks; let i = index'>
                <td class="columnLarge">{{stock.Info.List}}</td>
                <td class="columnLarge">{{stock.Info.CompanyName}}</td>
                <td class="columnMedium">{{stock.Info.Ticker}}</td>
                <td class="columnLarge">{{stock.Info.Industry}}</td>
                <td class="columnMedium">{{stock.Valuation.MarketCap | number: '1.1-1'}}</td>
                <td class="columnLarge">N/A</td>
                <td class="columnMedium"><img src="http://www.nasdaqomxnordic.com/static/img/pdf.gif" style="margin-left: 5px"></td>
                <td class="columnMedium"><score></score></td>            
                <td class="columnMedium"><score></score></td>
            </tr>
        </tbody>
    </table>
</div>